
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="" *ngIf = "kartica">
    
            <div class="card text-center">
              <label>TERM</label>
              <textarea 
              class="card text-center" 
              [(ngModel)] = "kartica.pojam" 
              style="font-weight: bold" 
              placeholder="selektovanaKartica.pojam">
              </textarea>
            </div>
            <div class="card text-center">
              <label>DEFINITION</label>
              <textarea  
              class="card text-center" 
              [(ngModel)] = "kartica.definicija" 
              style="font-weight: bold"  
              placeholder="selektovanaKartica.definicija"> 
              </textarea>
            </div>
          </div>
          <div class="text-center">
              <button class="btn btn-outline-success" (click)="goBack()">BACK</button>
              <button class="btn btn-outline-primary" (click)="chagneCard()">CHANGE</button>   
              <button class="btn btn-outline-danger" (click)="deleteCard()">DELETE</button>    

          </div>
    </div>
    <div class="col"></div>
</div>