<div class="container">
  <div class="jumbotron">
    <h1>Provera znanja</h1>      
    <p>Provera znanja sastoji se iz 7 pitanja,koja su razlicitog tipa i tezine.</p>
    <p>Kod nekih pitanja se treba na osnovu pojma izabrati tacna definicija,negde obrnuto,a negde treba samo 
        zakljuciti da li je tvrdnja tacna ili netacna....
    </p>
  </div>   
</div>
<div class="container" id="pitanjce">
  <h2>SGC TEST</h2>
  <button class="btn btn-primary" data-target="#ModalStart" data-toggle="modal" id="start">Start</button>
  </div>

  <div class="progress" hidden id="divprogress" >
    <div class="progress-bar"   id="progress" style="width:10%"></div>
</div>
<div id="smestiTajmer">

    </div>

  <div class="modal fade" id="ModalStart">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" >
          <h4 class="modal-title">SGC</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
            <p> Odgovorite na pitanje </p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalTimer">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" >
          <h4 class="modal-title">SGC</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
            <p> Vreme isteklo </p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="button" class="btn btn-light" data-dismiss="modal">OK</button>
        </div>
        
      </div>
    </div>
  </div>
