<div class="card text-center">
    <h4>Connect concepts with their definitions</h4>
    <div class="row">
      <div class="col text-center">
        <div class="card btn-outline-primary">Pojam 1</div>
        <div class="card btn-outline-primary">Pojam 2</div>
        <div class="card btn-outline-primary">Pojam 3</div>
      </div>
      <div class="col text-center">
          <div class="card btn-outline-primary">Definicija 1</div>
          <div class="card btn-outline-primary">Definicija 2</div>
          <div class="card btn-outline-primary">Definicija 3</div>
      </div>
    </div>
</div>